h1,
p {
  font-family: 'Times New Roman', Times, serif;
}
head {
  background-color: rgb(0, 17, 255);
  text-align: end;
}
body {
  background-color: rgb(227, 240, 41);
}

.card {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
.card-img-top {
  width: 150px;
  height: 150px;
}
.card-img-top:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.card-title {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.span {
  color: rgb(245, 250, 247);
  font-size: 20px;
}
.temp {
  margin-top: 100px;
}
